<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-18([%thread]) %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>lastrun.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-18([%thread]) %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>
    
    <if condition='isDefined("ECLIPSE")'>
      <then>
        <appender name="BEAGLE" class="ch.qos.logback.classic.net.SocketAppender">
          <remoteHost>127.0.0.1</remoteHost>
          <port>4321</port>
          <reconnectionDelay>10000</reconnectionDelay>
          <includeCallerData>true</includeCallerData>
        </appender>
      </then>
    </if>

    <logger name="de.jowisoftware" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        
        <if condition='isDefined("ECLIPSE")'>
            <then>
                <appender-ref ref="BEAGLE" />
            </then>
        </if>
    </logger>

    <!-- see src/main/resources/logback.xml -->
    <logger name="org.neo4j.server" level="DEBUG" />

    <root level="WARN" />
</configuration>